$foundation-palette: (
  primary: #663499,
  secondary: #1b3954,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$primary-color: get-color(primary);
$secondary-color: get-color(secondary);
$success-color: get-color(success);
$warning-color: get-color(warning);
$alert-color: get-color(alert);
