// scss-lint:disable ImportantRule

@import 'settings';
@import 'foundation';

// @import '~npm-font-open-sans/open-sans';

@import 'partials/top-bar';
@import 'partials/sidebar';
@import 'components/spacings';

body {
  overflow-y: scroll;
  // font-family: 'Open Sans', sans-serif;
}

.no-margin {
  margin: 0 !important;
}

.text-upper {
  text-transform: uppercase;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.hidden {
  display: none !important;
}

.one-liner {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
