.top-bar {
    background: $primary-color;
}

.top-bar__logo {
    display: inline-block;
    font-weight: bold;
    font-size: 15pt;
    padding: 28px 0;
    color: #fff;
}

.top-bar__nav {
    float: right;
}

.top-bar .menu__link {
    color: #fff;
    padding: 36px 12px;
    transition: .1s all;

    &:hover {
        background: rgba(0, 0, 0, .075);
    }
}
