$levels: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 48px,
  7: 64px,
  8: 96px,
  9: 128px,
  10: 256px,
);

@each $level, $pixels in $levels {
  .padding-top-bottom-level-#{$level} {
    padding-top: $pixels;
    padding-bottom: $pixels;
  }

  .margin-top-level-#{$level} {
    margin-top: $pixels;
  }

  .margin-bottom-level-#{$level} {
    margin-bottom: $pixels;
  }

  .margin-top-bottom-level-#{$level} {
    margin-top: $pixels;
    margin-bottom: $pixels;
  }
}

.no-margin {
  margin: 0 !important;
}
